 <div class="container ">      
    <% if obj.errors.any? %>
        <div class = "row">
            <div class ="form-container">
                <div class="alert alert-danger">
                    <div class = "alert-heading"> 
                        <h2 class="alert-title">
                            <%= pluralize(obj.errors.count, "error") %>
                                probhited this article from being saved:
                        </h2> 
                        <div class= "contest-body">
                            <ul>
                                <% obj.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>